@import "./reset";
@import "./variables/global";
@import "./variables/z-indexes";
@import "./themes/normal";


body{
    font-size: var(--font-m);
    color: var(--inverted-primary-color);
    font-family: Roboto, sans-serif;
}

.app {
    min-height: 100vh;
}

.content_page {
    display: flex;
}