.ProductList {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 20px 10px;
};

.CardTop {
    flex: 0 0 220px;
    position: relative;
    overflow: hidden;
}

.CardImage {
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.CardImage > img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    &:hover {
        transform: scale(1.1);
    }
}

.CardBottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; // занимает оставшуюся высоту карточки
    padding: 10px;
}

.CardPriceCommon{
    font-weight: 400;
    font-size: 1rem;
    color: var(--inverted-primary-color);
    margin-bottom: 10px;
}

.CardPriceCommon::after{
    content: "₽";
    margin-left: 4px;
    position: relative;
}

.CardTitle {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: var(--title-primary-color);

    &:hover{
        color: var(--title-inverted-primary-color)
    }
}

.CardRating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font: var(--font-m);
}

.RatingWrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px
}

.StarIcon{
    fill: #481173;
    width: var(--font-size-m);
    height: var(--font-size-m);
}
