:root {
    /* Select */

    /* Размеры SelectWrapper */
    --select-wrapper-full-width: 250px;
    --select-wrapper-free-quarter-width: 200px;
    --select-wrapper-half-width: 150px;
    --select-wrapper-one-quarter-width: 100px;

    /* Размеры Select */
    --select-full-width: 200px;
    --select-free-quarter-width: 150px;
    --select-half-width: 100px;
    --select-one-quarter-width:50px;

    /* Размеры SelectButton */
    --select-button-full-width: 200px;
    --select-button-free-quarter-width: 150px;
    --select-button-half-width: 100px;
    --select-button-one-quarter-width: 50px;

    /* Размеры Select Options */
    --options-full-width: 200px;
    --options-free-quarter-width: 150px;
    --options-half-width: 100px;
    --options-one-quarter-width: 50px;

}