:root {
    /* Select */

    /* Размеры SelectWrapper */
    --select-wrapper-xl: 250px;
    --select-wrapper-l: 200px;
    --select-wrapper-m: 150px;
    --select-wrapper-s: 100px;

    /* Размеры Select */
    --select-xl: 200px;
    --select-l: 150px;
    --select-m: 100px;
    --select-s:50px;
}