.MenuList {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: -400px;
    z-index: -1;
    opacity: 0; // isOpen = false
    pointer-events: none; // игнорирую все события
};

.opened{
    z-index: 1;
    opacity: 1; // isOpen = true
    pointer-events: auto; // Можно использовать любые события
    transform: translateX(400px);
    transition: 0.5s; /* длительность анимации */
}

.closed{
    z-index: -1;
    opacity: 0; // isOpen = false
    pointer-events: none; // игнорирую все события
    transition: 1s; /* длительность анимации */
}

.menuContent{
    display: block;
    position: relative;
    width: 400px;
    height: 100vh;
    background-color: var(--primary-color);
    padding: 20px 24px 20px 30px;
}





.close{
    position: absolute;
    top: 20px;
    left: calc(400px + 9px);
}

.close::before, .close::after{
    position: absolute;
    content: ' ';
    top: 0;
    height: 32px;
    width: 2px;
    background-color: var(--primary-color);
}

.close::before{
    transform: rotate(45deg);
}

.close::after{
    transform: rotate(-45deg);
}




