.Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.Select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.Label {
    padding-right: 10px;
    font: var(--font-m);
}

.ListboxButton {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 10%);


    &:hover {
        background-color: #cb11ab;
        fill: white;
    }
}


.btn {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.SelectArrowIcon {
    height: 15px;
    width: 15px;
}

.ListboxOptions {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    width: 200px;
    margin-top: 40px;
    z-index: var(--select-options-z-index);
    background-color: var(--primary-color);
}


.ListboxOption {
    display: flex;
    justify-content: center;
    list-style: none;
    font: var(--font-m);
    padding: 5px 10px;
}

.active {
    cursor: pointer;
    background-color: #cb11ab;
}



.selected {
    cursor: pointer;
    background-color: #481173;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}




.CheckIcon {
    fill: white;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}


/* Размеры SelectWrapper */

.wrapper-xl {
    width: var(--select-wrapper-xl);
}

.wrapper-l {
    width: var(--select-wrapper-l);
}

.wrapper-m {
    width: var(--select-wrapper-m);
}

.wrapper-s {
    width: var(--select-wrapper-s);
}


/* Размеры Select */

.select-xl {
    width: var(--select-xl);
}

.select-l {
    width: var(--select-l);
}

.select-m {
    width: var(--select-m);
}

.select-s {
    width: var(--select-s);
}

