.Button {
    cursor: pointer;
}

.square.size_s {
    width: var(--font-size-s);
    height: var(--font-line-s);
}

.square.size_m {
    width: var(--font-size-m);
    height: var(--font-line-m);
}

.square.size_l {
    width: var(--font-size-l);
    height: var(--font-line-l);
}

.square.size_xl {
    width: var(--font-size-xl);
    height: var(--font-line-xl);
}


.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
}

.clear.size_s {
    font: var(--font-s);
}

.clear.size_m {
    font: var(--font-m);
}

.clear.size_l {
    font: var(--font-l);
}

.clear.size_xl {
    font: var(--font-xl);
}

.buttonFontSizeZero.size_s,
.buttonFontSizeZero.size_m,
.buttonFontSizeZero.size_l,
.buttonFontSizeZero.size_xl {
    font-size: var(--font-size-zero);
}


/* Размеры шрифта */

.size_s{
    font: var(--font-s);
}

.size_m{
    font: var(--font-m);
}

.size_l{
    font: var(--font-l);
}

.size_xl{
    font: var(--font-xl);
}

.outline {
    border: 1px solid var(--button-inline-primary-color);
    color: var(--inverted-primary-color);
    background: none;
    margin-top: auto;
    padding: 10px;

    &:hover{
        cursor: pointer;
        color: var(--primary-color);
        background-color: var(--button-inline-inverted-primary-color);
        border: 1px solid var(--button-inline-inverted-primary-color);

    }
}


.disabled {
    opacity: .5;
}

.fullWidth {
    width: 100%;
}