.RegistrationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding: 20px 40px;
}

.group {
    position: relative;
    margin-bottom: 40px;
}


.Btn {
    margin-left: auto;
}

.errorLabel{
    font: var(--font-m);
    color: #cb11ab;
    margin-bottom: 30px;
}