.BurgerMenuButton {
    height: 50px;
    width: 50px;
    position: relative;
    margin-right: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 0 14px;

    &:hover{
        border: 2px solid #fff;
        cursor: pointer;
    }
}

.BurgerMenuButton::before {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    height: 4px;
    border-radius: 20px;
    background-color: #fff;
    margin-top: 10px;
}

.BurgerMenuButton > span {
    position: absolute;
    top: 10px;
    width: 20px;
    height: 4px;
    border-radius: 20px;
    background-color: #fff;
    margin-top: 12px;
}

.BurgerMenuButton::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 4px;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 10px;
}