.MenuItem {
    position: relative;
    width: 100%;
    color: black;
    padding: 3px 5px 3px 30px;
    font-size: 20px;
    list-style: none;

    &:hover {
        cursor: pointer;
        background-color: #cb11ab;
        border-radius: 8px;
        color: #fff;
    }

    &:hover svg{
        fill: #fff;
    }
}




.SmartphoneIcon,
.ImacIcon,
.FridgeIcon{
    position: absolute;
    left: 3px;
    width: 20px;
    height: 24px;
    fill: black;
}





