.InputWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.outlined {
    .input {
        width: 100%;
        font: var(--font-l);
        color: #757575;
        font-weight: 400;
        border: none;
        outline: none;
        padding: 10px 30px;
    }
}

.standard {
    .label {
        color: var(--input-standard-primary-color);
        font: var(--font-l);
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
    }

    .inputSvg {
        fill: var(--input-standard-primary-color);
        cursor: pointer;
        height: 40px;
        width: 40px;
        border-bottom: 1px dashed var(--input-standard-primary-color);
    }

    .input {
        font: var(--font-m);
        padding: 10px 10px 10px 5px;
        display: block;
        border: none;
        width: 100%;
        outline: none;
        height: 40px;
        color: var(--input-standard-inverted-primary-color);
        border-bottom: 1px dashed var(--input-standard-primary-color);


        &:focus ~ .label, &:valid ~ label {
            top: -30px;
            font-size: 14px;
            font-weight: bold;
            color: var(--input-standard-inverted-primary-color);
        }

        &:focus {
            border-bottom: 1px solid var(--input-standard-inverted-primary-color);
        }

        &:focus ~ .inputSvg {
            fill: #481173;
            border-bottom: 1px solid var(--input-standard-inverted-primary-color);
        }

    }
}








