.InputWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.without_outline {
    .input {
        width: 100%;
        font: var(--font-l);
        color: var(--input-theme-outlined-primary-color);
        font-weight: bold;
        border: none;
        outline: none;
        padding: 8px 20px;
        border-radius: 15px;
    }

    .input::placeholder{
        color: var(--input-theme-outlined-inverted-primary-color);
    }
}



.outline {
    .input {
        width: 100%;
        font: var(--font-l);
        color: var(--input-theme-outlined-primary-color);
        font-weight: bold;
        border: 2px solid #edeef0;
        outline: none;
        padding: 8px 20px;
        border-radius: 15px;
    }

    .input::placeholder{
        color: var(--input-theme-outlined-inverted-primary-color);
    }
}

.filled {
    .input {
        width: 100%;
        font: var(--font-l);
        color: var(--input-theme-outlined-primary-color);
        font-weight: bold;
        border: 2px solid #edeef0;
        background-color: #edeef0;
        outline: none;
        padding: 8px 20px;
        border-radius: 15px;
    }

    .input::placeholder{
        color: var(--input-theme-outlined-inverted-primary-color);
    }
}

.outline_bottom {
    .label {
        color: var(--input-theme-standard-primary-color);
        font: var(--font-l);
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
    }

    .inputSvg {
        fill: var(--input-theme-standard-primary-color);
        cursor: pointer;
        height: 40px;
        width: 40px;
        border-bottom: 1px dashed var(--input-theme-standard-primary-color);
    }

    .input {
        font: var(--font-m);
        padding: 10px 10px 10px 5px;
        display: block;
        border: none;
        width: 100%;
        outline: none;
        height: 40px;
        color: var(--input-theme-standard-inverted-primary-color);
        border-bottom: 1px dashed var(--input-theme-standard-primary-color);


        &:focus ~ .label, &:valid ~ label {
            top: -30px;
            font-size: 14px;
            font-weight: bold;
            color: var(--input-theme-standard-inverted-primary-color);
        }

        &:focus {
            border-bottom: 1px solid var(--input-theme-standard-inverted-primary-color);
        }

        &:focus ~ .inputSvg {
            fill: #481173;
            border-bottom: 1px solid var(--input-theme-standard-inverted-primary-color);
        }

    }
}








