:root{
    --bg-color: #fff;
    --primary-color: #fff;
    --primary-color-hover: rgb(255 255 255 / 60%);
    --inverted-primary-color: #000;

    /* Link */
    --link-primary-color:#481173;
    --link-inverted-primary-color:#cb11ab;

    /* Menu */
    --menu-item-background-hover: #cb11ab;

    /* Button */
    --button-inline-primary-color: #481173;
    --button-inline-inverted-primary-color: #cb11ab;

    /* Product Card */
    --title-primary-color: #000;
    --title-inverted-primary-color: #481173;
}