:root{
    --bg-color: #fff;
    --primary-color: #fff;
    --primary-color-hover: rgb(255 255 255 / 60%);
    --inverted-primary-color: #000;

    /* Skeleton */
    --skeleton-shadow: #bea5d5;
    --skeleton-color: #481173;

    /* Text */
    --theme-primary-color: #fff;
    --theme-inverted-color: #000;
    --theme-error-color: #cb11ab;

    /* Loader */
    --loader-primary-color:#cb11ab;

    /* Link */
    --link-primary-color:#481173;
    --link-inverted-primary-color:#cb11ab;

    /* Menu */
    --menu-item-background-hover: #cb11ab;

    /* Button */
    --button-inline-primary-color: #481173;
    --button-inline-inverted-primary-color: #cb11ab;
    --button-round-primary-background-color: #e5e5e5;
    --button-round-inverted-primary-background-color: #481173;
    --button-round-hover-primary-background-color: #cb11ab;
    --button-round-previos-and-next-primary-background-color: #bea5d5;

    /* Product Card */
    --title-primary-color: #000;
    --title-inverted-primary-color: #481173;


}