.LoginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

.Btn {
    margin-top: 15px;
    margin-left: auto;
}