.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid red;
  width: var(--sidebar-width);
  height: var(--sidebar-height);
  background-color: #481173;
}
a {
  color: white
}
.Navbar a {
  padding: 0 0 0 10px;
}



.publicLink{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.publicLink a {
  padding: 0 10px 0 0;
}