
.CategoriesList {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: -400px;
    z-index: -1;
    opacity: 0; // isOpen = false
    pointer-events: none; // игнорирую все события
}

.BurgerMenuButtonClose{
    position: absolute;
    top: 20px;
    left: calc(400px + 9px);
}

.opened{
    z-index: 1;
    opacity: 1; // isOpen = true
    transform: translateX(400px);
    transition: 0.5s; /* длительность анимации */
    pointer-events: auto; // Можно использовать любые события
}

.closed{
    z-index: -1;
    opacity: 0; // isOpen = false
    pointer-events: none; // игнорирую все события
    transition: 1s; /* длительность анимации */
}

.burgerMenuContent{
    display: block;
    position: relative;
    width: 400px;
    height: 100vh;
    background-color: var(--primary-color);
    padding: 20px 24px 20px 30px;
}

