.TabsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
    cursor: pointer;
}

.Tab {
    padding: 5px 10px;

    &:hover{
        background-color: #cb11ab;
        color: white;
    }
}