.CategoryItem {
    position: relative;
    width: 100%;
    color: var(--inverted-primary-color);
    padding: 3px 5px 3px 30px;
    font-size: 20px;
    list-style: none;

    &:hover {
        cursor: pointer;
        background-color: var(--menu-item-background-hover);
        border-radius: 8px;
        color: var(--primary-color);
    }

    &:hover svg{
        fill: var(--primary-color);
    }
};