.ProductListItemSkeleton {
    display: flex;
    gap: 8px;
    border-radius: 8px;
}

.cardWrapper{
    display: flex;
    flex-direction: column;
    width: 225px;
    min-height: 350px;
    max-height: 400px;
    padding: 10px 0;
}

.cardTop{
    flex: 0 0 220px;
}

.cardBottom{
    display: flex;
    flex-direction: column;
    gap: 4px;

    .cardBottomPrice{
        height: 32px;
        width: 100%;
    }

    .cardBottomTitle{
        height: 32px;
        width: 100%;
    }

    .cardBottomBtn{
        height: 50px;
        width: 100%;
    }
}