.AppLink {
    color: var(--inverted-primary-color);
}

.primary{
    color: var(--link-primary-color);

    &:hover{
        color: var(--link-inverted-primary-color);
    }
}

.secondary{
    color: var(--primary-color-hover);

    &:hover {
        color: var(--primary-color);
    }
}

/* Размеры шрифта */

.size_s{
    font: var(--font-s);
}

.size_m{
    font: var(--font-m);
}

.size_l{
    font: var(--font-l);
}

.size_xl{
    font: var(--font-xl);
}

